@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* Note: i must use !important to override bootstarp styling. */

html {
    font-size: 10px;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #323232 ; /* bootstarp override */
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #343434;
    box-shadow: 0rem 0rem 0.4rem black;
    z-index: 1;
    margin-bottom: 2rem;
}

nav h2{
    font-size: 2em;
    letter-spacing: 0.02em;
    padding: 0.5rem;
    margin: 0;
}

a{
    /* must have !important here to override bootstrap */
    color: white !important; /* bootstarp override */
    text-decoration: none !important; /* bootstarp override */
}

.searchBar{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0rem;  
    width: 35rem; 
    font-family: FontAwesome, Roboto, sans-serif;
}

.searchBar input{
    color: white;
    background-color: #505050;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.5em;
    padding: 0.5rem;
}

.searchBar input::placeholder{
    color: #222222;
}

.submit-button{
    flex: 2;
    margin-left: 0.5rem;
}

main{
    position: relative;
    margin: 8rem 2rem 5rem 2rem;
}

.category-title{
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    padding: 3rem 0rem;
    margin: 0rem 4rem;
}


.container-grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 2rem;
    margin: auto;
}

.card, .card-ref{
    display: flex;
    flex-direction: row;
    background-color: #656565;   
    border-radius: 2rem;
    text-decoration: none !important; /* bootstarp override */
    color: white !important; /* bootstarp override */
}

.thumbnail{
    border-radius: 2rem;
    padding: 1rem;
}

.card-data{
    margin: auto;
    text-align: center;
    font-size: 1.1em;
}

.checked {
    color: goldenrod;
}

.stars-container{
    justify-content: center;
}

.results-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.result-card{
    margin: 1rem;    
}

.result-card h1{
    font-size: 2.5em;
}

.result-card h2{
    font-size: 1.7em;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 5vh;
}

footer h1{
    font-size: 5em;
    color: white;
    font-weight: 200;
}

svg{
    font-size: 4em; 
    margin: 1.5rem;
}

header{
    display: flex;
    align-items: center;
}

.dropdownMenuButton{
    font-size: 1.5em ; /* bootstarp override */
    background-color: #656565;
    margin-right: 1rem;
}

.dropdown-menu{
    background-color: #424242; /* bootstarp override */
    font-size: 2em; /* bootstarp override */
}

.dropdown-item:hover{
    background-color: #232323; /* bootstarp override */
}

.no-result{
    display: flex;
    background-color: #656565;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
    .searchBar{
        width: 20rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px){
    .searchBar{
        width: 20rem;
    }
}
