@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
html {
    font-size: 10px;
    background-color: #323232;
    color: white;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    /* border: 1px solid black; */
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #343434;
    box-shadow: 0px 0px 4px black;
    z-index: 1;
    margin-bottom: 2rem;
}

nav h2{
    font-size: 2em;
    letter-spacing: 0.02em;
}

nav a{
    color: white;
    text-decoration: none;
}

.searchBar{
    display: flex;
    flex-direction: row;
    margin: 15px 0px;   
}

.searchBar input{
    color: white;
    background-color: #505050;
    border: none;
    font-family: FontAwesome, Roboto, sans-serif;
    /* max-width: 45rem; */
    width: 40rem;
    border-radius: 5px;
    font-size: 1.8em;
    padding: 5px;
    
}

.searchBar input::placeholder{
    color: #323232;
}

main{
    position: relative;
    margin: 8rem 2rem;
}


.category-title{
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    padding: 3rem 0px;
    margin: 0px 4rem;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card{
    background-color: #656565;   
}

/* .card-ref{
    display: block;
} */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .container-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container-grid{
        grid-template-columns: repeat(5, 1fr);
    }
}