@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html {
    font-size: 10px;
    background-color: #323232;
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #343434;
    box-shadow: 0px 0px 4px black;
    z-index: 1;
    margin-bottom: 2rem;
}

nav h2{
    font-size: 2em;
    letter-spacing: 0.02em;
    padding: 0.5rem;
}

nav a{
    color: white;
    text-decoration: none;
}

.searchBar{
    display: flex;
    flex-direction: row;
    margin: 15px 0px;  
    width: 30vh; 
}

.searchBar input{
    color: white;
    background-color: #505050;
    border: none;
    font-family: FontAwesome, Roboto, sans-serif;
    width: 100%;
    border-radius: 5px;
    font-size: 1.8em;
    padding: 5px;
    flex: 1;
}

.searchBar input::placeholder{
    color: #323232;
}

main{
    position: relative;
    margin: 8rem 2rem;
}

.category-title{
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    padding: 3rem 0px;
    margin: 0px 4rem;
}


.container-grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 20px;
    margin: auto;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: #656565;   
    border-radius: 20px;
    text-decoration: none;
    color: white;
    box-shadow: 10px 10px 10px #323232;
}

#thumbnail{
    border-radius: 20px;
    padding: 10px;
}

.card-data{
    margin: auto;
    text-align: center;
    font-size: 1.1em;
}

.checked {
    color: goldenrod;
}

#stars-container{
    justify-content: center;
}


.results-container{
    display: flex;
    flex-direction: column;
}

#result-card{
    margin: 2rem;
}

.result-card h1{
    font-size: 2.5em;
}

.result-card h2{
    font-size: 1.7em;
}