@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html {
    font-size: 10px;
    background-color: #323232 !important;
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #323232 !important;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #343434;
    box-shadow: 0px 0px 4px black;
    z-index: 1;
    margin-bottom: 2rem;
}

nav h2{
    font-size: 2em;
    letter-spacing: 0.02em;
    padding: 0.5rem;
}

a{
    color: white !important;
    text-decoration: none !important;
}

.searchBar{
    display: flex;
    flex-direction: row;
    margin: 15px 0px;  
    width: 30vw; 
}

.searchBar input{
    color: white;
    background-color: #505050;
    border: none;
    font-family: FontAwesome, Roboto, sans-serif;
    width: 100%;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 5px;
    flex: 1;
}

.searchBar input::placeholder{
    color: #323232;
}

main{
    position: relative;
    margin: 8rem 2rem 5rem 2rem;
}

.category-title{
    color: white;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05em;
    padding: 3rem 0px;
    margin: 0px 4rem;
}


.container-grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 20px;
    margin: auto;
}

.card, .card-ref, a [id="card-ref"]{
    display: flex;
    flex-direction: row;
    background-color: #656565;   
    border-radius: 20px;
    text-decoration: none !important;
    color: white !important;
    box-shadow: 10px 10px 10px #323232;
}

#thumbnail{
    border-radius: 20px;
    padding: 10px;
}

.card-data{
    margin: auto;
    text-align: center;
    font-size: 1.1em;
}

.checked {
    color: goldenrod;
}

#stars-container{
    justify-content: center;
}

.results-container{
    display: flex;
    flex-direction: column;
}

#result-card{
    margin: 2rem;
}

.result-card h1{
    font-size: 2.5em;
}

.result-card h2{
    font-size: 1.7em;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 5vh;
}

footer h1{
    font-size: 5em;
    color: white;
    font-weight: 200;
}

svg{
    font-size: 4em; 
    margin: 1.5rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: safe;
}

#dropdownMenuButton{
    /* bootstarp override */
    font-size: 1.5em !important;
    background-color: #656565;
}

.dropdown-menu{
    /* bootstarp override */
    background-color: #424242 !important;
    font-size: 2em !important;
}

.dropdown-item:hover{
    background-color: #232323 !important;
}

.no-result{
    display: flex;
    background-color: #656565;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
}
