@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 10px;
    background-color: #323232;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body{
    /* border: 1px solid black; */
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #323232;
    box-shadow: 0px 0px 4px black;
}

nav h2{
    font-size: 2em;
    letter-spacing: 0.02em;
}

.searchBar{
    display: flex;
    flex-direction: row;
    margin: 15px 0px;   
}

.searchBar input{
    color: white;
    background-color: #444444;
    border: none;
    font-family: FontAwesome, Roboto, sans-serif;
    max-width: 400px;
    width: 325px;
    border-radius: 5px;
    font-size: 1.6em;
    padding: 5px;
    
}

.searchBar input::placeholder{
    color: #232323;
}