
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
    .thumbnail{
        width: 20rem;
    }
    main{
        margin-left: 0;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px){
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }
    .thumbnail{
        width: 20rem;
    }
    main{
        margin-left: 0;
        margin-right: 1rem;
    }

}
