html{
    color: white;
}

body{
    margin: 0 auto; 
}

main{
    margin: 0;
}

.background-thumbnail{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 6.4rem;
}

.container{
    display: flex; 
    flex-direction: column;
    width: 80%;
    background: linear-gradient(to bottom, goldenrod, goldenrod, gold);
    opacity: 80%;
    margin: auto;
    margin-top: 40vh ;
    padding: 2.5rem;
    border-radius: 2.5rem;
    border: 1rem solid var(--dark);
}

.container h1{
   text-align: center;
   font-size: 3.5em;
   margin-bottom: 1rem;
}
.container h3{
    font-size: 2em;
    line-height: 3rem;
 }

.genres{
    padding: 0 1rem;
}

.container h4{
    font-size: 1.7em;
}

p{
    margin-top: 1.5rem;
    font-size: 2em;
}

.cast{
    margin-top: 2rem;
    opacity: 100% !important;
    background: linear-gradient(to bottom, gold, goldenrod, goldenrod);
}

.container-grid{
    margin: 0;
}

.card{
    background-color: var(--dark);
    box-shadow: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
    .container{
        width: 100%;
    }
    .card-data h1{
        font-size: 1.5em;
    }
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .thumbnail{
        height: 29rem;
        width: 21rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px){
    .container{
        width: 100%;
    }
    .card-data h1{
        font-size: 1.5em;
    }
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .thumbnail{
        height: 29rem;
        width: 21rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
    .container{
        width: 100%;
    }
    .card-data h1{
        font-size: 2em;
    }
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    .container{
        width: 100%;
    }
    .container-grid{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
} 