<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
        <link rel="stylesheet" href={{ url_for('static',filename="css/main.css") }} />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block head %}
        
        {% endblock %}
        <title>WatchTime</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}" class="title-and-logo">    
                <h2 class="title">WatchTime</h2>
            </a>
            <form class="searchBar" method="POST" action="{{ url_for('search') }}">
                <input type="text" id="search-text" name="show" placeholder='&#xf002  Search a show then press enter ' required> 
            </form>
        </nav>

        {% block body %}

        {% endblock %}
    </body>
</html>