<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" href={{ url_for('static',filename="css/main.css") }} />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <script src="https://use.fontawesome.com/ef0173c2a2.js"></script> -->

        <title>{{title}}</title>
    </head>
    <body>
        <nav>
            <a href="/" class="title-and-logo">    
                <!-- <img src="{{ url_for('static', filename='favicon.ico') }}"> -->
                <h2 class="title">WatchTime</h2>
            </a>
            <!-- <div class="searchBar"> -->
            <form class="searchBar" method="POST" action="/search">
                <input type="text" placeholder='&#xf002  Search a show then press enter'> 
            </form>
            <!-- </div> -->
        </nav>

        <main class="main">
            <header>
                <h1 class="category-title">{{ category | title }}</h1>
            </header>
            
            <div class="container-grid">
                {% for obj in data%}
                <div id="card" class="card">
                    <a href="/" class="card-ref">
                        <img src={{obj.image.medium}} id="thumbnail" class="thumbnail" alt="{{obj.name}}">
                        <h1 class="show-name">{{obj.name}}</h1>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
</ht