{% extends 'base.html' %}


{% block head %} 
    <link rel="stylesheet" href={{ url_for('static',filename="css/index.css") }} />
{% endblock %}


{% block body %}
<main class="main">
    <header>
        <h1 class="category-title">{{ category | title }}</h1>
    </header>
    
    <div class="container-grid">
        {% for obj in data%}
            <a href="/" class="card-ref card">
                <img src={{obj.image.medium}} id="thumbnail" class="thumbnail" alt="{{obj.name}}">
                <div class="card-data">
                    <h1 class="show-name">{{obj.name}}</h1>
                </div>
            </a>
        {% endfor %}
    </div>
</main>

{% endblock %}
