{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href={{ url_for('static',filename="css/search.css") }} />
{% endblock %}

{% block body %} 
    <main>
        <header>
            <h1 class="category-title">Searching For: "{{ name }}"</h1>
        </header>

        <section class="results-container">
            {% if data %}
                {% for obj in data %}
                    <a href="/show/{{obj.show.id}}" class="card-ref card result-card">
                        {% if obj.show.image.medium %}
                            <img src={{obj.show.image.medium}} class="thumbnail" alt="{{obj.show.name}}">
                        {% else %}
                            <img src="{{ url_for('static', filename='assets/Placeholder.png') }}" style="width: 25rem;" class="thumbnail" alt="placeholder">
                        {% endif %}
                        <div class="card-data">
                            <h1 class="result-show-name">{{obj.show.name}}</h1>
                            <h2 class="result-date">Premiered in: {{obj.show.premiered | replace('-','.')}}</h2> 
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="no-result">
                    <h1>No result on this time 🤔, Try Searching for somthing else.</h1>
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}