{% extends 'base.html' %}

{% block head %} 
    <link rel="stylesheet" href={{ url_for('static',filename="css/search.css") }} />
{% endblock %}

{% block body %} 
    <main>
        <header>
            <h1 class="category-title">Searching For: "{{ name }}"</h1>
        </header>

        <section class="results-container">
            {% for obj in data %}
                <a id="result-card" href="{{ url_for('index') }}" class="card-ref card">
                    {% if obj.show.image.medium %}
                        <img src={{obj.show.image.medium}} id="thumbnail" class="thumbnail" alt="{{obj.show.name}}">
                    {% else %}
                        <img src="{{ url_for('static', filename='assets/Placeholder.png') }}" id="thumbnail" class="thumbnail" alt="placeholder">
                    {% endif %}
                    <div class="card-data result-card">
                        <h1 class="result-show-name">{{obj.show.name}}</h1>
                        <h2 class="result-date">Premiered in: {{obj.show.premiered | replace('-','.')}}</h2>
                    </div>
                </a>
            {% endfor %}
        </section>
    </main>
{% endblock %}